.chekout {
    &__title {
        font-weight: 600;
        font-size: 20px;
        color: #1C1C27;
        padding-top: 52px;
        
    }

    &__content {
        display: flex;
        justify-content: space-around;
        margin-top: 12px;
        @media (max-width: 1200px) {
            display: block;
        }
        @media (max-width: 767px) {
            margin-left: 50px;
        }
        @media (max-width: 535px) {
            margin-left: 5px;
        }
    }
    
    .chekout-card {
        width: 445px;
        height: 513px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 23px 38px 32px 38px;
        @media (max-width: 535px) {
            width: 350px;
        }
        @media (max-width: 320px) {
            width: 145px;
        }
        
        
        &__delivery {
            display: flex;
            justify-content: space-between;
        }
        &__title {
            font-weight: 600;
            font-size: 17px;
            color: #000000;
            @media (max-width: 320px) {
                font-size: 12px;
            }

        }
        &__price {
            font-weight: 500;
            font-size: 15px;
            color: #000000;
            @media (max-width: 320px) {
                font-size: 12px;
            }
        }

        &__image {
            margin-top: 20px;
            margin-left: 15px;
            @media (max-width: 535px) {
                margin-left: -25px;
            }
            @media (max-width: 320px) {
                margin-top: -20px;
            }
            img {
                @media (max-width: 320px) {
                    width: 100%;
                }
            }
        }

        &__subtitle {
            font-weight: 500;
            font-size: 15px;
            color: #000000;
            padding-top: 22px;
        }
        @media (max-width: 320px) {
            padding-top: 10px;
        }

        &__city {
            width: 369px;
            height: 45px;
            background: #D6D6D6;
            border-radius: 15px;
            margin-top: 18px;
            border: none;
            padding-left: 14px;
            font-size: 15px;
            font-weight: 500;
            color: #8E8E8E;
            outline: none;
            @media (max-width: 535px) {
                width: 300px;
            }
            @media (max-width: 320px) {
                width: 150px;
            }
        }

        &__street {
            width: 369px;
            height: 45px;
            background: #D6D6D6;
            border-radius: 15px;
            margin-top: 18px;
            border: none;
            padding-left: 14px;
            font-size: 15px;
            font-weight: 500;
            color: #8E8E8E;
            outline: none;
            @media (max-width: 535px) {
                width: 300px;
            }
            @media (max-width: 320px) {
                width: 150px;
            }
            
        }

        &__home {
            width: 165px;
            height: 45px;
            background: #D6D6D6;
            border-radius: 15px;
            margin-top: 18px;
            border: none;
            padding-left: 14px;
            font-size: 15px;
            font-weight: 500;
            color: #8E8E8E;
            outline: none;
            @media (max-width: 535px) {
                width: 100px;
            }
            
        }

        &__entrance {
            width: 165px;
            height: 45px;
            background: #D6D6D6;
            border-radius: 15px;
            margin-top: 18px;
            margin-left: 30px;
            border: none;
            padding-left: 14px;
            font-size: 15px;
            font-weight: 500;
            color: #8E8E8E;
            outline: none;
            @media (max-width: 535px) {
                width: 100px;
            }
            @media (max-width: 535px) {
                margin-left: 0;
            }
        
            
        }
        

        &__flat {
            width: 165px;
            height: 45px;
            background: #D6D6D6;
            border-radius: 15px;
            margin-top: 18px;
            border: none;
            padding-left: 14px;
            font-size: 15px;
            font-weight: 500;
            color: #8E8E8E;
            outline: none;
            @media (max-width: 535px) {
                width: 100px;
            }
           
        
            
        }
        
    }

    .chekout-items {
        @media (max-width: 1200px) {
            margin-top: 15px;
        }
        &__order {
            width: 444px;
            min-height: 155px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 15px 20px;
            @media (max-width: 535px) {
                width: 350px;
            }
            @media (max-width: 320px) {
                width: 145px;
            }
            
            &-title {
                font-weight: 600;
                font-size: 20px;
                color: #000000;
            }
            &-content {
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                margin-bottom: 15px;
            }
            &-subtitle {
                font-weight: 500;
                font-size: 15px;
                color: #000000;
            }
            &-price {
                font-weight: 500;
                font-size: 15px;
                color: #000000;
            }
        }

        &__payment {
            margin-top: 15px;
            width: 444px;
            height: 127px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 15px;
            @media (max-width: 535px) {
                width: 350px;
            }
            @media (max-width: 320px) {
                width: 145px;
            }
           

            &-title {
                font-weight: 600;
                font-size: 20px;
                color: #000000;
                @media (max-width: 320px) {
                    font-size: 12px;
                }
            }

            &-content {
                display: flex;
                justify-content: left;
                margin-top: 15px;
                
                p {
                    font-weight: 500;
                    font-size: 15px;
                    color: #000000;
                    padding-left: 9px;
                }

                img {
                    display: block;
                    margin-top: 15px;
                }
            }


        }

        &__contact {
            margin-top: 20px;
            width: 444px;
            height: 74px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 15px;
            @media (max-width: 535px) {
                width: 350px;
            }
            @media (max-width: 320px) {
                width: 145px;
            }
            

            &-title {
                font-weight: 600;
                font-size: 17px;
                color: #000000;
                @media (max-width: 320px) {
                    font-size: 12px;
                }
            }
            

            &-tell {
                margin-top: 15px;
                width: 418px;
                height: 35px;
                background: #D6D6D6;
                border-radius: 15px;
                border: none;
                padding-left: 14px;
                font-size: 15px;
                font-weight: 500;
                color: #8E8E8E;
                outline: none;
                @media (max-width: 535px) {
                    width: 300px;
                }
                @media (max-width: 320px) {
                    width: 130px;
                    margin-top: 20px;
                }
            }
        }

    }
}